body {
 background: #252935;
 background-image:url('image/image-1.jpg');
}
.tpt-login {
	width: 360px;
	height: 420px;
	padding: 50px 30px;

	border-radius: 8px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, .2);
	-webkit-box-shadow:0px 1px 1px #f5f5f5;
      -moz-box-shadow:0px 1px 1px #f5f5f5;
      box-shadow:0px 1px 1px #f5f5f5;
}
.tpt-login h2 {
	font-size: 28px;
	font-weight: 500;
	padding-bottom: 50px;
	text-align: center;
	color: #f5f5f5;
}
.tpt-login input {
	width: 340px;
	padding: 0 10px;
	margin-bottom: 20px;
	height: 45px;
	line-height: 55px;
	border: 0;
	background: #f5f5f5;
	font-size: 16px;
	color: #666;
}
.tpt-login button {
	display: inline-block;
	height: 40px;
	line-height: 45px;
	width: 360px;
	background: #1e9fff;
	color: #fff;
	font-size: 16px;
	margin-top: 20px;
	border: none;
	border-radius: 2px;
	cursor: pointer;
}

button:hover{
	background: #8cc5ff;
}

button:active{
	background: #1e9fff;
}
.tpt-login p {
	font-size: 14px;
	color: #777;
}
.tpt-login a {
	text-decoration: none;
	font-size: 14px;
	color: #fafafa;
}
a:hover{
	color: #dd6161;
}
.tpt-login span {
	position: relative;
	display: inline-block;
	width: 7px;
	height: 7px;
	border-radius: 100%;
	border: 1px solid #ff5722;
	padding: 4px;
	top: 4px;
	margin-right: 6px;
}
.tpt-login i {
	position: absolute;
	display: inline-block;
	width: 7px;
	height: 7px;
	border-radius: 100%;
	background: #ff5722;
}
#ip{
	opacity: 0;
}
.tl{
	height: 5px;
	width: 30%;
	position: absolute;
	color: white;
	margin: auto;
    left: 35%;
	bottom: 20px;
	text-align:center;
	line-height: 5px;
	font-size: small;

}
.zhu{
	padding: 8px;
	text-align:right;
}
